[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes\\beautifulhugo"]
	path = themes\\beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/liuzc/LeaveIt.git
